@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@media screen and (min-width: 768px) {
.marge {
margin-left: 2%;
margin-right: 2%;
padding-top: 20px;
padding-bottom: 40px;
}

.fa-arrow-left {
    font-size: 18px;
    padding-top: 28px;
}

.header_logo_icone img {
    width: 20%;
 }


.bloc_entree_plat_dessert
{
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;

}

.carre_entree_plat_dessert
{
   width: 30%;
   
}

.imageintroduction img {
    height: 400px;
    object-fit: cover;
}

button {
    width: 30%;
}

}


















