@media screen and (max-width: 1240px) {


button 
{
   width: 30%;
}

#boutton_fontionnement
{
   display: flex;
   flex-direction: row;
   gap: 30px;
}

.fontionnement_button
{
    display: flex;
    padding: 8px  22px;
    width: 70%;
    gap: 10px;
    align-items: center;
}

.cards 
{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.cardrestaurant
{
   width: 48%;
   height: 350px;
}


.texterestaurant
{
   height: 30px;
   padding-top: 0px;
   margin-bottom: 0px;
   gap: 15px;
}

}


/* Responsive tablette */

@media screen and (min-width: 768px) {


  .cards 
{
   flex-direction: row;
}
  
.cardrestaurant
{
     width: 47%;
     height: 260px;
}
  
}














