@media screen and (min-width: 768px) {
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.marge {
margin-left: 2%;
margin-right: 2%;
padding-top: 20px;
padding-bottom: 40px;
}

.header_logo_icone img 
 {
   width: 35%;
   padding-top: 20px;
   padding-bottom: 20px;
}


#bloc_entrée_plat_dessert
{
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;

}

.carre_entrée_plat_dessert
{
   width: 40%;
   
}

.imageintroduction img {
    height: 400px;
    object-fit: cover;
}

button 
{
 
   width: 30%;
   
}

}




















