@media screen and (min-width: 992px) {
  #boutton_fontionnement {
    flex-direction: row;
    gap: 20px;
  }

  .bloc_entree_plat_dessert {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cardrestaurant {
    width: 45%;
  }
}
