.header_logo_icone {
  display: flex;
  width: auto;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}

.fa-arrow-left {
  margin-left: 48px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.header_logo_icone img {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.imageintroduction img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f2f2f2;
  margin-top: -51px;
  padding-bottom: 40px;
  position: relative;
  height: auto;
}

section h1 {
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%;
  font-family: "shrikhand";
  font-style: italic;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.bloc_entree_plat_dessert {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

h2 {
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 5px solid #99e2d0;
  width: 60px;
  font-weight: 100;
  padding-bottom: 6px;
}

.entree_plat_dessert {
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  animation: backwards 2s both;
  border: 0px solid;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #d8d8d8;
  overflow: hidden;
  font-size: 14px;
  padding: 0px 15px;
  line-height: 10px;
  -webkit-animation: cardup 1.5s;
  animation: cardup 1.5s;
}

@-webkit-keyframes cardup {
  0% {
    margin-top: 30px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes cardup {
  0% {
    margin-top: 30px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.affiche1 {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.affiche2 {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.affiche3 {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.affiche4 {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.entree_plat_dessert p {
  text-align: center;
}
.entree_plat_dessert:hover {
  box-shadow: 3px 3px 10px rgb(139, 137, 137);
}

.entree_plat_dessert:hover .texte_prix p:nth-of-type(2) {
  position: absolute;
  right: 62px;
}

.plats__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.texte_plat {
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.plats__description {
  padding: 10px;
  margin: 0;
  width: 300px;
  white-space: nowrap;
  transition: width 1s;
}

.plats__validation {
  width: 140px;
  height: auto;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-right: -110px;
  transition: margin-right 1s;
}

.prix_plat {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 30px;
  padding-bottom: 20px;
  font-weight: 800;
}

.plats__check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 90px;
  font-size: 25px;
  background-color: #99e2d0;
  height: 100%;
}

.entree_plat_dessert:hover .fa-circle-check {
  transform: rotate(360deg);
}
.entree_plat_dessert:hover .plats__validation {
  margin-right: -15px;
}

.fa-circle-check {
  transition: all 0.5s ease-in 0.1s;
}

.bouton_commande {
  display: flex;
  margin-top: 40px;
  background-color: #f2f2f2;
}

button {
  width: 50%;
  height: 60px;
  margin: auto;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 1px 1px 1px 1px gray;
  background-color: #f2f2f2;
  background: linear-gradient(#ff79da, #9356dc);
}
