
    @import url('https://fonts.googleapis.com/css2? family= Raleway:wght@100;400;600 & family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700; 0,900;1,100;1,300;1,500;1,700;1,900 & display=swap');
 *
 {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
 }
 a {
   text-decoration: none;

 }
 
 .marge {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 40px;
 }
 

.header_logo_icone
{
   display: flex;
   align-items: center;
   padding-left: 30px;
  
}

.header_logo_icone img 
 {
   display: flex;
   margin-right: auto;
   margin-left: auto;
   width: 50%;
   padding-top: 20px;
   padding-bottom: 10px;
}

.fa-arrow-left {
   color:black;
}     

.imageintroduction img
{
width: 100%;
}

section
{
   display: flex;
   flex-direction: column;
   gap: 15px;
   border-radius: 50px 50px 0px 0px;
   background-color: #f2f2f2;
   margin-top: -51px;
   padding-bottom: 40px;
   position: relative;
   height: auto;
   
}

section h1
{
   margin-bottom: 30px;
   margin-top: 20px;
   width: 100%;
   font-family: "shrikhand";
   font-style: italic;
   font-size: 30px;
   display: flex;
   justify-content: space-between;
}

section h2 
{
   margin-bottom: 30px;
   margin-top: 30px;
   border-bottom: 2px solid #99e2d0;
   width: 50px;
   font-weight: 100;
}


.carre_entrée_plat_dessert
{
   background-color: #f2f2f2
   
}


#bloc_entrée_plat_dessert 
{
   display: flex;
   flex-direction: column;
}
.entrée_plat_dessert {

   background-color: white;
   border: 1px solid #f2f2f2;
   border-radius: 20px 20px 20px 20px;
   height: 80px;
   margin-bottom: 10px;
   margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 12px;


}

.entrée_plat_dessert p {

  text-align: center;

}


.textegras
{
 font-weight: bold;
 margin-bottom: 5px;
}

.texte_prix
{
   font-weight: 100;
   display: flex;
   justify-content: space-between;
  
}

.texte_prix p:nth-of-type(2)
{
    font-weight: bold;
    padding-right: 15px;
}


button 
{
 
   width: 50%;
   height: 60px;
   margin: auto;
   color: white;
   font-size: 15px;
   border: none;
   border-radius: 30px 30px 30px 30px;
   background: linear-gradient( #FF79DA, #9356DC);
}


.bouton_commande
{
   display: flex; 
   margin-top: 40px;
   background-color: #f2f2f2;
}
 
 footer 
 {
    background-color: #353535;
    gap: 15px; 
 }
 
 footer p
 {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
 }
 
 .footer_titre
 {
 width: 35%;
 padding-bottom: 10px;
 font-family: "shrikhand";
 font-size: 30px;
 font-style: italic;
 font-weight: bold;
 }
 
 
 .liensfooter1
 {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
 }
 
 .liensfooter2
 {
    display: flex; 
    flex-direction: row;
    gap: 13px;
    margin-top: 10px;
 }
 


 